In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/meininghang/Downloads/股票_茅台.csv',index_col=['date'])

In [4]:
df = df.iloc[:,2:10]
df.head()

,title,type,content,date.1,open,close,high,low
date,,,,,,,,
2018-06-08,贵州茅台2017年年度权益分派实施公告,临时公告,贵州茅台酒股份有限公司 2017 年年度权益分派实施公告\n 本公司董事会及全体董事保证...,2018/6/8,769.080,767.059,774.897,759.220
2018-05-24,贵州茅台2017年年度股东大会决议公告,临时公告,贵州茅台酒股份有限公司\n 2017 年年度股东大会决议公...,2018/5/24,709.920,705.384,718.459,703.018
2018-05-24,贵州茅台2017年年度股东大会的法律意见书,法律意见书,北京市金杜律师事务所\n 关于贵州茅台酒股份有限公司2017年年度股东大会的\n ...,2018/5/24,709.920,705.384,718.459,703.018
2018-05-19,贵州茅台关于参加贵州辖区上市公司2017年度网上业绩说明会的公告,临时公告,证券简称：贵州茅台 证券代码：600519 ...,2018/5/21,733.584,724.533,736.838,722.225
2018-05-16,贵州茅台2017年年度股东大会会议资料,临时公告,贵州茅台酒股份有限公司\n2017 年 年 度 股 东 大 会\n 会 议 资 料\n...,2018/5/16,729.640,724.237,735.221,723.014

In [22]:
df['涨/跌'] = df['open'] - df['close']

In [23]:
df['差'] = df['high'] - df['low']#我不专业，不知道是不是这么叫

## 看看情况

In [6]:
df.describe()

             open       close        high         low        涨/跌          差
count   27.000000   27.000000   27.000000   27.000000  27.000000  27.000000
mean   696.521444  687.020519  702.439185  675.028333   9.500926  27.410852
std     25.835562   30.201220   27.996622   32.735068  12.068808   8.316059
min    650.760000  658.480000  659.624000  636.029000 -29.886000  12.207000
25%    690.170000  672.501000  693.158000  659.634000   3.278500  19.636000
50%    690.170000  672.501000  693.158000  659.634000  17.669000  33.524000
75%    708.628000  705.384000  718.459000  703.018000  17.669000  33.524000
max    769.080000  771.565000  774.897000  759.220000  17.669000  33.524000

In [10]:
df['涨/跌'].value_counts()

 17.669    16
-7.720      3
 0.660      2
 4.536      2
-29.886     1
 9.051      1
 5.403      1
 2.021      1
Name: 涨/跌, dtype: int64

In [11]:
df.corr()

           open     close      high       low       涨/跌         差
open   1.000000  0.918876  0.980701  0.949008 -0.158723 -0.434043
close  0.918876  1.000000  0.971239  0.978713 -0.535393 -0.582828
high   0.980701  0.971239  1.000000  0.974520 -0.331073 -0.469495
low    0.949008  0.978713  0.974520  1.000000 -0.417621 -0.655576
涨/跌   -0.158723 -0.535393 -0.331073 -0.417621  1.000000  0.529328
差     -0.434043 -0.582828 -0.469495 -0.655576  0.529328  1.000000